﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="pa_ext_list.aspx.cs" Inherits="rpa.pa_ext_list" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>PA ENTRY</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
        <script src="assets/calendar/jsm01.js" type="text/javascript"></script>
        <script src="assets/calendar/tcal.js" type="text/javascript"></script>
        <link href="assets/calendar/tcal.css" rel="stylesheet" type="text/css" />
        <script src="assets/calendar/jscal2.js" type="text/javascript"></script>
        <script src="assets/calendar/lang/en.js" type="text/javascript"></script>
        <link href="assets/calendar/jscal2.css" rel="stylesheet" type="text/css" />
        <link href="assets/calendar/border-radius.css" rel="stylesheet" type="text/css" />
        <link href="assets/calendar/win2k/win2k.css" rel="stylesheet" type="text/css" />
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white form-group">
    
    <form id="form1" runat="server" class="page-wrapper">
    <input type="hidden" id="ctrlToFind" />
        <div class="page-wrapper">
             <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="home.aspx">
                            <img src="assets/layouts/layout/img/logo.jpg" alt="logo" class="logo-default" /> </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                            <li class="sidebar-search-wrapper">
                                <!-- END RESPONSIVE QUICK SEARCH FORM -->
                            </li>
                            
                            <li class="nav-item  active open">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-settings"></i>
                                    <span class="title">RPA</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  active open">
                                        <a href="rpa_entry.aspx" class="nav-link ">
                                            <span class="title">Entry 
                                                <br/>Payment Aplication</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                
                                
                                    <li class="nav-item">
                                        <a href="rpa_pa_list.aspx" class="nav-link ">
                                            <span class="title">List 
                                                <br/>Payment Aplication</span>   
                                        </a>
                                    </li>

                                   <li class="nav-item">
                                        <a href="pa_ext_entry.aspx" class="nav-link ">
                                            <span class="title">Entry External 
                                                <br/>Payment Request</span>   
                                        </a>
                                    </li>

                                    <li class="nav-item active open">
                                        <a href="pa_ext_list.aspx" class="nav-link ">
                                            <span class="title">List External 
                                                <br/>Payment Request</span>   
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="http://20.110.1.37/QBonus/OACashAdvance.aspx" target="_blank" class="nav-link ">
                                            <span class="title">List 
                                                <br/>Report</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END SIDEBAR MENU -->
                        <!-- END SIDEBAR MENU -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN THEME PANEL -->
                        
                        <!-- END THEME PANEL -->
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="rpa_entry.aspx">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Payment Application</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> PAYMENT APPLICATION (EXTERNAL)
                            <small>View & Search List PA</small>
                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <div class="row ">
                            <div class="col-md-12">
                                <!-- BEGIN SAMPLE FORM PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-share font-dark"></i>
                                            <span class="caption-subject font-dark bold uppercase">SEARCH</span>
                                        </div>
                                        <br />
                                        <hr />
                        <div class="row">
                            <div class="col-md-2"> Site Location
                                <asp:DropDownList ID="ddlsite" CssClass="form-control item-list" runat="server"></asp:DropDownList></div>
                            <div class="col-md-2"> Department 
                                <asp:DropDownList ID="ddldpt" CssClass="form-control" runat="server"></asp:DropDownList> </div>
                            <div class="col-md-3"> Vendor Name 
                            <img alt="add" id="ImgSv" src="assets/pages/img/Search.gif" style="cursor: pointer" onclick="OpenPopupvendor('paxvendor')" align="absmiddle" />    
                                <asp:TextBox ID="txtvendor" runat="server" CssClass="form-control"  placeholder="Name"></asp:TextBox> 
                                
                                <asp:HiddenField ID="hvendorid" runat="server" />
                                </div>
                                
                            <div class="col-md-2"> Request Type
                                <asp:DropDownList ID="ddlusagetyplist" CssClass="form-control item-list" runat="server">
                                    <asp:ListItem Text ="All Type" Value="all"></asp:ListItem>
                                    <asp:ListItem Text ="Payment" Value="Payment"></asp:ListItem>
                                </asp:DropDownList> </div>
                            <div class="col-md-2"> Status
                                <asp:DropDownList ID="ddlreqstslist" CssClass="form-control item-list" runat="server">
                                    <asp:ListItem Text ="All" Value="all"></asp:ListItem>
                                    <asp:ListItem Text ="Draft" Value="draft"></asp:ListItem>
                                    <asp:ListItem Text ="In Progress" Value="INP"></asp:ListItem>
                                    <asp:ListItem Text ="Revise" Value="RVS"></asp:ListItem>
                                    <asp:ListItem Text ="Reject" Value="RJC"></asp:ListItem>
                                    <asp:ListItem Text ="Completed" Value="COMPLT"></asp:ListItem>
                                </asp:DropDownList> </div>         
                        </div>
                            <hr />
                            <div class="btn-group-sm">
                                <asp:Button ID="btnReset" runat="server" CssClass="btn default" Text="Reset" OnClick="btnReset_Click" />
                                <asp:Button ID="btnSearch" Runat="server" CssClass="btn green" Text="Search" OnClick="btnSearch_Click" />
                                <%--<asp:Button ID="btnPrintList" Runat="server" CssClass="btn green" Text="Print List" OnClick="btnPrintList_Click" OnClientClick="SetTarget()"/>--%>
                            </div>
                         
                            <br />
                            </div>
                            <asp:Button ID="btnNewReq" runat="server" CssClass="btn-cont btn-success" Text="New Request" OnClick="btnNewReq_Click" />
                                    <div class="portlet-body">
                                        <asp:GridView ID="GridView1" runat="server" DataKeyNames="pa#" CssClass="table table-striped table-hover table-bordered"
                                            AutoGenerateSelectButton="true" OnRowCommand="GridView1_RowCommand" 
                                            OnRowDataBound="gridViewPAList" OnSelectedIndexChanged="GridView1_SelectedIndexChanged">
                                            
                                        </asp:GridView>
                                    </div>                        
                                </div>
                            </div>
        <!-- END SAMPLE FORM PORTLET-->
                                
                    </div>
                                <!-- END SAMPLE FORM PORTLET-->
                                
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
            </div>
            <!-- END CONTAINER -->
            
            </div>
    </form>
    <div class="quick-nav-overlay"></div>
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
        <script src="assets/global/plugins/respond.min.js"></script>
        <script src="assets/global/plugins/excanvas.min.js"></script> 
        <script src="assets/global/plugins/ie8.fix.min.js"></script> 
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        
<script type="text/javascript">
    function OpenPopupvendor(key) {
        comp = document.getElementById("ddlsite").value
        document.getElementById("ctrlToFind").value = key;
        window.open("searchvendor.aspx?comp=" + comp, "List", "scrollbars=yes,resizable=yes,width=1000,height=400");
        return false;
    }
</script>
</body>

</html>
